<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h1>
                    LOTR -
                    <small>
                        An API to rule them all
                        {% if pageActive is defined %}
                            {% if pageActive == 'dashboard' %}
                                <a class="pull-right btn btn-default" href="{{ path('lotr_admin_newevent') }}">New event</a>
                                <a class="pull-right btn btn-default" style="margin-right: 25px;" href="{{ path('lotr_admin_newplace') }}">New place</a>
                                <a class="pull-right btn btn-primary" style="margin-right: 25px;" href="{{ path('lotr_admin_showall') }}">Dashboard</a>
                            {% elseif pageActive == 'new_place' %}
                                <a class="pull-right btn btn-default" href="{{ path('lotr_admin_newevent') }}">New event</a>
                                <a class="pull-right btn btn-primary" style="margin-right: 25px;" href="{{ path('lotr_admin_newplace') }}">New place</a>
                                <a class="pull-right btn btn-default" style="margin-right: 25px;" href="{{ path('lotr_admin_showall') }}">Dashboard</a>
                            {% elseif pageActive == 'new_event' %}
                                <a class="pull-right btn btn-primary" href="{{ path('lotr_admin_newevent') }}">New event</a>
                                <a class="pull-right btn btn-default" style="margin-right: 25px;" href="{{ path('lotr_admin_newplace') }}">New place</a>
                                <a class="pull-right btn btn-default" style="margin-right: 25px;" href="{{ path('lotr_admin_showall') }}">Dashboard</a>
                            {% endif %}
                        {% else %}
                            <a class="pull-right btn btn-default" href="{{ path('lotr_admin_newevent') }}">New event</a>
                            <a class="pull-right btn btn-default" style="margin-right: 25px;" href="{{ path('lotr_admin_newplace') }}">New place</a>
                            <a class="pull-right btn btn-default" style="margin-right: 25px;" href="{{ path('lotr_admin_showall') }}">Dashboard</a>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
