{% extends "::base-admin.html.twig" %}

{% block title %}LOTR - Back Office - Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Dashboard</h2>
        <hr />
        <div class="col-md-5">
            {# Liste des personnages #}
            <h2>Characters' list</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Slug</th>
                        <th>Name</th>
                        <th>Race</th>
                    </tr>
                </thead>
                <tbody>
                {% for character in characters %}
                    <tr>
                        <td>{{ character.id }}</td>
                        <td>{{ character.slug }}</td>
                        <td>{{ character.name }}</td>
                        <td>{{ character.race.slug |capitalize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# Liste des races #}
            <h2>Races' list</h2>
            <div class="pull-left">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for race in races %}
                        <tr>
                            <td>{{ race.id }}</td>
                            <td>{{ race.slug |capitalize }}</td>
                            <td>{{ race.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {# Liste des lieux #}
            <h2>Places' list</h2>
            <div class="pull-left">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Slug</th>
                        <th>Name</th>
                        <th>Coord X</th>
                        <th>Coord Y</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for place in places %}
                        <tr>
                            <td>{{ place.id }}</td>
                            <td>{{ place.slug }}</td>
                            <td>{{ place.name }}</td>
                            <td>{{ place.coordx }}</td>
                            <td>{{ place.coordy }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {# Liste des status #}
            <h2>Status' list</h2>
            <div class="col-md-12">
                <div class="pull-left">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for oneStatus in status %}
                            <tr>
                                <td>{{ oneStatus.id }}</td>
                                <td>{{ oneStatus.slug }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            {# Liste des événements #}
            <h2>Events' list</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Coord X</th>
                    <th>Coord Y</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.date |date('d/m/Y') }}</td>
                        <td>{{ event.dateend |date('d/m/Y') }}</td>
                        <td>{{ event.coordx }}</td>
                        <td>{{ event.coordy }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}